{% extends "base_content.html" %}

{% block title %}Gewebe{% endblock %} 

{% block content %}

			<!-- Three -->
			<section id="three" class="wrapper">
				
				<div class="inner">
					
					<header class="align-center">
						
						<h2>Gewebe</h2>
						
						<p>Das Bindeglied zwischen den Zellen und der Makroskopischen Anatomie: Hier zum Einstieg kurz etwas zu den Fachbegriffen –</p>
						
						<p>Die <strong><i>Histologie</i></strong> (von altgriechisch <i>histos</i>, deutsch "Gewebe" und -logie, gr. <i>logos</i> "Lehre") oder <strong>Gewebelehre</strong> ist die Wissenschaft von den biologischen Geweben. Im weiteren Sinn bezeichnet Histologie die mikroskopische Anatomie – s.o. – und die <i>Histo<strong>pathologie</strong></i>  die Wissenschaft von den <strong>krankhaften</strong> Gewebeveränderungen.</p>
						
					</header>
					
					<!-- Intro -->
						<div class="row">
							
							<section class="6u 12u$(medium)">
								<h2>In Oberstufen-Bio wird *meist* nur <strong>Muskel-</strong> und <strong>Nervengewebe</strong> behandelt</h2>
								
								<p>Es gibt aber auch das <strong>Epithelgewebe</strong> und das <strong>Binde- sowie Stützgewebe</strong>.</p>
								
								<p>Ist ja auch logisch: Irgendwas muss unsere Zellen im Körper bzw. zur Außenwelt abgrenzen, nämlich das Epithelgewebe, und außerdem müssen sie dann im Körper noch Halt haben, und zum Stoffaustausch vor allem auch verbunden sein: Voilà, das Stütz- und Bindegewebe.</p>
							</section>
							
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Gewichtung</h3>
								
								<h2>H <strong>17%</strong> | Z <strong>12.8%</strong></h2>
								
								<p><i>Ein Unterkapitel des BMS/BU, auf das sich obige Werte beziehen</i></p>
								
							</section>
							
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Handhabung</h3>
								<p>Nicht Vergessen! Am Besten vom Skript ins kapitelbezogene Mini-Turnier arbeiten, und vorher auch am Unterkapitel die  Altfragen-Hinweise beachten.</p>
								<p> So wird dein Wissen strukturiert, wiederholt, und dadurch <strong>gefestigt.</strong></p>
							</section>
						</div>
						
					<ul class="actions align-center">
						<li><a href="/turnier/gewebe" class="button special big">Zum Mini-Turnier</a></li>
						
						<p class="space-top"><i>Es ist meist ratsam, das Kapitel zuerst im Skript zu behandeln!</i></p>
						
						<a href="/skript/gewebe/epithelgewebe" class="button ">zum Unterkapitel: Epithelgewebe</a>
					</ul>

					<!-- Content -->
					
						<!-- overview -->
						<h2 id="content"><u>Kapitel Übersicht</u></h2>
						
						<p>Hier fangen wir mit dem, fast schon torwachenden (so präsent und direkt erfahrbar ist es), Epithelgewebe und dem – etwas geheimnisvolleren – Binde- und Stützgewebe an, bevor wir im nötigen Detail Muskel- und Nervengewebe durcharbeiten.</p>
						
						
						
						<div class="row">
							
							<div class="6u 12u$(small)">
								<h3><a href="/skript/gewebe/epithelgewebe" alt="Epithelgewebe">Epithelgewebe</a></h3>
								<p>2017 wurde im Med AT gefragt, wo denn bitte das einschichtige Plattenepithel vorkommt. Damals richtig: In den Alveolen!</p>
								
								 <p>Das Epithel dient in den Alveolen der Lunge wie auch anderswo (z.B. Lungen- und Bauchfell, oder auch den Hirnhäuten) vor allem dem Stofftransport und kann darüber hinaus eine Barrierefunktion haben. <a href="/skript/gewebe/epithelgewebe" alt="Epithelgewebe">Zum Unterkapitel</a></p>
							</div>
							
							<div class="6u$ 12u$(small)">
								<h3><a href="/skript/gewebe/bindegewebe" alt="Binde- und Stützgewebe">Binde- und Stützgewebe</a></h3>
								<p>Im Bindegewebe liegt das Augenmerk auf dem Stoffaustausch, im Stützgewebe auf der Stützfunktion. Dennoch gehören diese Beiden zusammen, denn sie haben einen gemeinsamen Ursprung.</p> <p><strong><i>MedAT Challenge:</i> Welchen?</strong></p> <p><a href="/skript/gewebe/bindegewebe" alt="Bindegewebe">Zum Unterkapitel</a></p>
							</div>
							
							<!-- Break -->
							<div class="12u 12u$(medium)">
								<h3><a href="/skript/gewebe/muskelgewebe" alt="Muskelgewebe">Muskelgewebe</a></h3>
								<p>Die Zellen des Muskelgewebes können wie Nervenzellen chemisch und elektrisch erregt werden. Der Unterschied ist, dass Muskelzellen die Fähigkeit zur Verkürzung (Kontraktion) haben, die durch die Erregung ausgelöst wird, und auf die Anwesenheit bestimmter Proteinstrukturen angewiesen ist. <a href="/skript/gewebe/muskelgewebe" alt="Muskelgewebe">Zum Unterkapitel</a></p>
							</div>
							
							<div class="12u 12u$(medium)">
								<h3><a href="/skript/gewebe/nervengewebe" alt="Nervengewebe">Nervengewebe</a></h3>
								<p>Nervengewebe ist auch aus Zellen aufgebaut, nämlich zweierlei Art:
									
									<ul>
										<li>Nervenzellen, oder Neurone</li>
										<li>und Gliazellen</li>
									</ul> 
									
								Uns beschäftigen vorrangig die Neurone, die die Aufgabe der Reizaufnahme, Erregungsleitung und Reizverarbeitung haben, doch die Gliazellen, als eine Art "Nervenbindegewebe," werden in unserer Ausarbeitung auch behandelt: Uns ist bekannt, dass im MedAT schon einmal zu ihnen gefragt worden ist! <a href="/skript/gewebe/nervengewebe" alt="Nervengewebe">Zum Unterkapitel</a></p>
							</div>
							

						</div>
						
						
					<!-- Note -->	
					
					<hr/>
					
					<h2 id="content">Weiteres Zur Hierarchie der Organisation im Organismus</h2>

					
					<p>Der Köper ist komplex: die unterschiedlichen Gewebsarten lassen sich durch <strong>Spezialisierung auf Aufgabenbereiche</strong>  erklären.</p>
					
					<h4><strong>Was genau ist aber mit dem Gewebe als Bindeglied zwischen Zellen und dem Makroskopischen gemeint?</strong></h4>
					
					<p>Vgl. nebenstehende Abbildung: Ein anderes Wort für Körper ist ja <strong>Organismus</strong>, das ist, wie dieser Name schon eher andeutet, eigentlich nur ein Verband von <strong>Organen</strong>, die über <strong>Organsysteme</strong> wirken und zusammengebaut sind.</p>
					
					<p>Auf Ebene des Organs in dieser Hierarchie wird es nun interessant: Was ist nämlich ein Organ? </p>
					
					<p>
						
						Naja: Zellen! Aber Zellen, die gemeinsam eine Aufgabe lösen. Und wie sind diese Zellen definiert? Über Aufbau und Funktion.</p>
						
					
					<h5><strong>Definition</strong></h5>
					<div class="box">
						<p>Das <strong>Gewebe</strong> ist ein Verband von Zellen, samt <i>extrazellulärer Matrix</i>, die in Aufbau und Funktion Gemeinsames aufweisen.</p>
					</div>
					
					
					<p>
						
						Unterschiedliche Gewebe, die koordiniert zusammenarbeiten, sind letztlich das Organ.</p>
						
					<p>
						
						<strong>Extrazelluläre Matrix: </strong>Das ist der Zwischenraum samt Flüssigkeit sowie festeren Bestandteilen, wie etwa Kolagen, die zusätzlich das Gewebe definieren. Das ist vor allem bei Stütz- und Bindegewebe markant.</p>
						
						
					<h4><strong>So!</strong> Jetzt haben wir alles, was wir brauchen, um uns in die verschiedenen Gewebsarten einzuarbeiten.</h4>
					
					<h4><a href="/skript/gewebe/epithelgewebe" class="button ">zum Unterkapitel: Epithelgewebe</a></h4>

					
			</section>

{% endblock %}