{% extends "base_content_with_shop_link.html" %}


{% load static %}


{% block title %}

Implikationen: KF-Schmiede

{% endblock %} 

{% block custom_og %}

	<meta property="og:url"                content="https://medcastle.at{{ request.path }}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Ich hab die MedKnight-Karte für diesen Teil des Mediziner-Tests Erhalten!" />
	<meta property="og:description"        content="Das heißt, den Übungstest für diesen Teil des MedAT habe ich statistisch geschafft: medCastle.at ist meine gratis Vorbereitung und online-Lernplattform für den MedAT. " />
	<meta property="og:image"              content="https://medcastle.at{% static 'img/ritterkarten/2x/imp.png' %}" />
	
	<meta property="fb:app_id"              content="667140217484992" />

{% endblock %}



{% block social_scripts %}


{% endblock %}


{% block add_assets %}

<script src="{% static 'js/quiz_imp.js' %}"></script>

{% endblock %}


{% block content %}

		<!-- Three -->
		<section id="three" class="wrapper bg_b">
			
			<div class="inner">
				
				<header class="align-center">
					
					<img srcset="{% static 'img/site-elements/icons/2x/anvil_icon.png' %} 260w, {% static 'img/site-elements/icons/4x/anvil_icon.png' %} 520w" alt="anvil%20icon@4x" width="185" />
					
					<h2>Implikationen: <strong>KF-Schmiede</strong></h2>
					
					<p>Willkommen zum <i class="swatch2">KF(F)-Wasserfallmodus:</i> <strong>Hier gibts unendlich viele Aufgaben für den MedAT</strong></p>
					
					<a href="/schmiede/imp" class="button special waterfall"><h2><i class="fas fa-sync-alt"></i></h2></a>
					
					<p><i><i class="fa fa-arrow-right"></i> <strong>gratis, nur auf </strong> med<b>Castle</b>.at - von Studenten für Studenten</i></p>
										
					
					<ul class="actions">
						<li><a href="/schmiede/fz" class="button">Figuren Zusammensetzen</a></li>
						<!--<li><a href="" class="button special dead">Bearbeitungsmethoden</a></li>-->
						<li><a href="/schmiede/zf" class="button">Zahlenfolgen</a></li>
						<li><a href="/schmiede/wf" class="button">Wortflüssigkeit</a></li>
						<li><a href="/schmiede/imp" class="button special dead">Implikationen</a></li>
					</ul>
					
					<p id="analysis-note"><i><i class="fas fa-arrow-down"></i> <i class="fas fa-exclamation-circle"></i> Oft ist es hilfreich, den Sachverhalt <strong>grafisch, mit Venn Diagram,</strong> darzustellen: Bilde die richtige <strong>Schlussfolgerung</strong> aus den <strong>zwei Prämissen</strong>. Wenn keine der Schlussfolgerung eindeutig korrekt ist, ist <strong>Antwort e)</strong> zu wählen.</i></p> 
										
				</header>
				
				
				<!-- Content -->	
					
				<div class="row">
					
					<div class="12u 12u$(medium) ">
						
						
					<div id="analysis" class="invisible">
				
				<h5><strong><i class="fa fa-exclamation-circle"></i> Der korrekte Schluss War <i class="fa fa-arrow-down"></i></strong></h5>
				
				<p></p>
				
					</div>
				
				
						<form class="box" action="/turnier" method="post">		
							<ul>
								
							
								<li>
									<p class="ask"><strong><i class="fa fa-question"></i>Gesucht</strong></p>
									
									<h2><i class="fa fa-arrow-right"></i></h2>
									
									<p class="analysis invisible">Gliazellen haben <strong>Ernährungs-, Isolierungs-, sowie Stütz- und Schutzfunktion, nämlich vor Erregern,</strong> nicht aber eine Abbaufunktion.</p>
									
									<h4 class="options"><strong><i class="fa fa-hand-pointer-o white invisible"></i></strong> 
										
										<ol type="a">
											<li>
												<input type="radio" value="0" />
												<label><b></b></label>
											</li>
											<li>
												<input type="radio" value="0" />
												<label><b></b></label>
											</li>
											<li>
												<input type="radio" value="0" />
												<label><b></b></label>
											</li>
											<li>
												<input type="radio" value="0" />
												<label><b></b></label>
											</li>
											<li>
												<input type="radio" value="0" />
												<label>Keine Schlussfolgerung ist richtig.</label>
											</li>
										</ol>
										
									</h4>
									
								</li>

							</ul>
							
							
						<div id="result" class="no_display">
							
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img srcset="{% static 'img/ritterkarten/1x/imp.png' %} 277w, {% static 'img/ritterkarten/2x/imp.png' %} 554w" alt="Zahlenfolgen" width="277" /></a>
				
					<h3><i class="fas fa-thumbs-up"></i><b> Fertig! Dein Ergebnis?</b></h3>
					
					<h1></h1>
					
					<h5 class="labelo white"> </h5>
					
					<div><h2>Du erhältst eine MedKnight-Karte!</h2>
					
						<h5 class="white"><i class="fab fa-facebook-f"></i> <i>Teile sie mit Freunden und Feinden, die ebenfalls für den MedAT lernern</i></h5>
						
						<a class="button special" href="mailto:?subject=Ich habe eine MedKnight-Karte Erhalten&amp;body=Kannst du bei deiner MedAT Vorbereitung mithalten? Versuch dich schon vor dem MedAT bei medCastle auf http://medCastle.at, der Vorbereitung von Studenten für Studenten." title="Email-Einladung"><i class="fas fa-envelope-square"></i> Email-Link</a>
					
						<div class="fb-share-button" data-href="https://medcastle.at{{ request.path }}" data-layout="box_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmedcastle.at%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

					</div>
					
					<p class="space-top"><b>Hier noch einmal die Prämissen-Paare mit ihren Schlussfolgerungen!</b> Wenn du den Zusammenhang nicht siehst, versuche es zu zeichnen. Die Schlussfolgerung muss eindeutig sein, d.h. sie gilt nur, wenn sie 100%-ig zutrifft.</p>	
														
						</div>	
						
							
							<p id="questionsLeft" class=""></p>
							
						</form>
						
						<p><i><i class="fas fa-exclamation-circle"></i> Wie auch beim echten MedAT wird dir hier erlaubt deine Antwort <strong>ab</strong>zuändern (vgl. auf Papier: altes Kästchen ausmalen, neues Kreuz setzen), nicht aber <strong>zurück</strong>zuändern: ist beim MedAT das Kästchen einmal ausgemalt, kannst du es nicht wieder ankreuzen. <strong>Eine Abänderung ist also endgültig.</strong></i></p> 
						
							
					</div>
				
				</div>
					
				
			<!--<hr/>-->
								

{% endblock %}