{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Banner -->
			<section id="banner">

        {% for message in messages %}

          <p class="flash_message">{{ message }}</p>

        {% endfor %}

				<div class="inner split">
					<section>
						<h2>Willkommen <span class="purple magnify">zurück</span> bei den <span class="black">medKnights,</span> nur bei <a href="https://medcastle.at" alt="medCastle" class="">medCastle <i class="fab fa-fort-awesome magnify"></i></a></h2>
					</section>
					<section>
						<p>Das medCastle lädt dich als <span class="white">erfolgreichen MedAT-Teilnehmer</span> ein, den nächsten Jahrgängen unter die Arme zu greifen.</p>
						<ul class="actions">
							<li><a href="#" class="button special">Komm in die Tafelrunde</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">

				<div class="inner">
					<section>
						<h2>Login</h2>
						<p ><span class="">Du hast noch keinen medKnight Account?</span> <a href="/" alt="Registrierung" class="strong">Zurück zur Registrierung</a></p>
              <form method="POST">
  
                  {% csrf_token %}
                  {{ form }}
              
                <input type="submit" class="space" />
              
              </form>
					</section>
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">

				<div class="inner split">
					<section>
						<h2>Noch Fragen?</h2>
						<p>Wir bauen <strong>die Open Source MedAT Community</strong>.</p>
						
						<p>Unser Front Desk berät dich gerne zum medKnights-Konzept und unseren anderen Projekten.</p>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-facebook"><a href="https://facebook.com/medcastle.at">facebook.com/medcastle.at</a></li>
							<li class="fa-facebook"><a href="https://www.facebook.com/groups/252411336109045/">facebook <span class="strong">medKnights-Gruppe!</span></a></li>
							<li class="fa-instagram"><a href="#">instagram.com/medcastle.at</a></li>
							<li class="fa-envelope"><a href="mailto:desk@medcastle.at">desk@medcastle.at</a></li>
						</ul>
					</section>
				</div>
			</section>

{% endblock %}
    