{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Banner -->
			<section id="banner">

        {% for message in messages %}

          <p class="flash_message">{{ message }}</p>

        {% endfor %}

				<h1 class="banner_icon"><i class="fa fa-chess-knight magnify black"></i></h1>

				<div class="inner split">
					<section>
						<h2>Willkommen <span class="purple magnify">zurück</span> bei den <span class="black">medKnights,</span> nur bei <a href="https://medcastle.at" alt="medCastle" class="">medCastle <i class="fab fa-fort-awesome magnify"></i></a></h2>
					</section>
					<section>
						<p>Das medCastle lädt dich als <span class="white">erfolgreichen MedAT-Teilnehmer</span> ein, den nächsten Jahrgängen unter die Arme zu greifen.</p>
						<ul class="actions">
							<li><a href="/roundtable" class="button special">Komm in die Tafelrunde</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">

				<div class="inner">
					<section>
						<h2>Login</h2>
						<p ><span class="">Du hast noch keinen medKnight Account?</span> <a href="/" alt="Registrierung" class="strong">Zurück zur Registrierung</a></p>
              <form method="POST">
  
                  {% csrf_token %}
                  {{ form }}
              
                <input type="submit" class="space" />
              
              </form>
					</section>
				</div>
			</section>


{% endblock %}
    