{% extends "base_content.html" %}

{% load static %}

{% block title %}Bindegewebe{% endblock %} 

{% block content %}

		<!-- Three -->
			<section id="three" class="wrapper">
				
				<div class="inner">
					
					<header class="align-center">
						
						<h2>Binde- und Stützgewebe</h2>
						
						<p>der Kit in unserem Körper</p>
						
						<ul class="actions">
							<li><a href="/skript/gewebe/epithelgewebe" class="button ">Vorheriges Unterkapitel</a></li>
							<li><a href="/turnier/gewebe" class="button special">Zum Mini-Turnier</a></li>
							<li><a href="/skript/gewebe/muskelgewebe" class="button ">Nächstes Unterkapitel</a></li>
						</ul>
						
					</header>
					
					

					<!-- Content -->	
						
						<div class="row">
							
							<div class="12u 12u$(medium)">
								<p>Hier ein guter Fachbegriff zum Einstieg: Binde- und Stützgewebe treten unterschiedlich auf, gehören aber zusammen, da sie aus dem <strong>Mesenchym</strong>, dem embryonalen Bindegewebe, hervorgehen. </p>
								
								<p>Beim Stützgewebe überwiegt jedoch die <strong>Stützfunktion</strong> aufgrund des härteren Gewebes (Knorpel, Knochen): es ist aber noch durchblutet. Im Bindegewebe überwiegt hingegen die <strong>Stoffwechselfunktion.</strong> </p>
								
								
							</div>
							
							
							
						
						<div class="12u 12u$(medium)">
							
							<h4>zum Bindegewebe</h4>
							
							<p>Ganz allgemein umhüllt Bindegewebe zunächst die Organe, Gefäße und Nerven, <strong>verbindet</strong> also diese Komponenten. Als <strong>Bänder</strong> dient es in den Gelenken der Stabilisierung und in Form von <strong>Sehnen</strong> der Kraftübertragung vom Muskel auf die Knochen. </p>
							
							<p> Der Stoffaustausch erfolget im Interstitium, wobei das Bindegewebe insgesamt bei der Nährstoffversorgung also eine Verteilungsfunktion hat. Es kann in den Spalträumen auch größere Mengen Flüssigkeit (Wasser) <strong>gespeichert</strong> werden: eine weitere <strong>Funktion</strong>. Speziell das Fettgewebe ist der Speicher-King. (Dazu später mehr.)</p>
							
							<p> Man unterscheidet <strong>freie Bindegewebszellen</strong>, die sich amöboid fortbewegen können, und die <strong>Fibrozyten</strong> <i>(Fibroblasten)</i>, die ortsständig sind.</p>
							
							<p> Es sind jedoch hauptsächlich die unterschiedlichen viskösen Interzellularsubstanzen, die das Bindegewebe bestimmen. Sie bilden sich fasrig aus, binden Wasser, und unterscheiden sich nach Aufbau und Stoff folgendermaßen: </p>
							
							<ul>
								<li>Kollagenfasern (zugfest, entstehen in Sehnen und Bändern)</li>
								<li>elastische Fasern</li>
								<li>Retikulinfasern (biegungselastisch, bilden räumliche Netze etwa in den Lymphknoten)</li>
							</ul>
							
							<p>Auf der Makroebene ergibt sich durch die unterschiedliche Zusammensetzung hiervon <strong> lockeres faserarmes Bindegewebe, straffes faserreiches Bindegewebe, sowie das Retikuläre Bindegewebe.</strong></p>
							
							<h5 class="labelo white">Lockeres faserarmes Bindegewebe</h5>
							
							<p>Es dient als Wasserspeicher und Verschiebeschicht, bzw. fixiert Nerven und Gefäße. Diesen Typ triff man <strong>am häufigsten</strong> an.</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/lockeres gewebex1.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/lockeres@2x.png' %} 2560w" src="{% static 'img/bms-bu/gewebe/1x/lockeres%20gewebe%20x1.png' %}" class="scale" alt="Lockeres Bindegewebe" width="1280" />
							
							<h5 class="labelo white space">Straffes faserreiches Bindegewebe</h5>
							
							<p>Zellen treten hier mengenmäßig in den Hintergrund und der Faseranteil überwiegt. Es gibt:
							</p>
							
							<ul class="alt">
								
								<li>straffes geflechtartiges und</li>
								<li>straffes parallelfaseriges Bindegewebe</li>
								
							</ul>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/Straffes geflechtartiges Bindegewebe.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/Straffes geflechtartiges Bindegewebe@2x.png' %} 2560w" alt="Straffes geflechtartiges Bindegewebe" width="1280" class="space scale" />
							
							<p>Höhere Zugfestigkeit ist im geflechtartigen Bindegewebe zu finden, daher ist es wiederum in den Organkapseln, Faszien der Skeletmuskeln, sowie <strong>harte</strong> Augenhaut <i>(Sklera)</i> und Hirnhaut <i>(<strong>dura</strong> mater)</i> anzutreffen. Nicht nur die Stütz-, sondern auch die <strong>Schutzfunktion</strong> ist so gegeben.</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/Straffes parallelfasriges Bindegewebe.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/Straffes parallelfasriges Bindegewebe@2x.png' %} 2560w" alt="Straffes parallelfasriges Bindegewebe" class="scale" width="1280" />
							
							
							<p>Parallelfasriges Bindegewebe ist hingegen für die <strong>Kraftübertragung</strong> in Sehnen etwa am Besten geeignet.</p>
							
							<h5 class="labelo white">Retikuläres Bindegewebe</h5>
							
							<p></p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/retikulaeres_bindegewebe.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/retikulaeres_bindegewebe.png' %} 2560w" alt="Retikuläres Bindegewebe anhand der Leberplättchen" class="scale" width="1280" />
						
							
						</div>
						
						
						<div class="12u 12u$(medium)">
						
							<h4>zum Stützgewebe</h4>
							
							<p>Als <strong>typische Stützgewebe</strong> sind bekannt:</p>
							
							<strong><ul>
								
								<li>Knorpelgewebe</li>
								<li>Knochengewebe</li>
								<li>Chordagewebe<strong>*</strong></li>
								<li>und auch das Zahngewebe,</strong> ein extrem hartes, daher spezialisiertes, Knochengewebe.</li>
								
							</ul>
							
							<p><strong>*</strong><i>Ähnlich aufgebaut wie Fettgewebe, aber der Zellinhalt besteht aus Flüssigkeit, nicht Fett. Es kommt bei Wirbeltieren in der <i>Chorda Dorsalis</i>, dem <strong>embryonalen</strong> primitiven Achsenorgan vor.</i></p>
							
							<p>Alle enhalten <strong>vorwiegend kollagene Fasern,</strong> und besitzen in Bezug auf Zugfestigkeit ähnliche Eigenschaften wie Bindegewebe.</p>
							
							<p><i>Im Folgenden behandeln wir vorrangig Knorpel- und Knochengewebe.</i></p>
							
							<h5 class="labelo white">Knorpelgewebe</h5>
							
							<p>Hier bestimmen Kollagenfasern die Art.</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/Knorpelgewebe.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/Knorpelgewebe@2x.png' %} 2560w" alt="Knorpelgewebe@2x" width="1280" class="scale" />
							
							<p>Knorpelzellen heißen im Fachbegriff <strong>Chondrozyten.</strong> Ihre Gruppen sind die <strong>Chondrone.</strong></p>
							
							<h5 class="labelo white">Knochengewebe</h5>
							
							<p>Knochenzellen heißen <strong>Osteozyten.</strong> Ihre lamellenartige Anordnung ist der <strong>Osteozyt.</strong> Die Extrazellularmatrix ist <strong>mineralisiert</strong> (anorganische Salze: v.a. Kalziumphosphat und Kalziumkarbonat). In den <strong>Geflechtknochen</strong> ist das Kollagen netzartig verwoben, wohingegen in den ausdifferenzierten <strong>Lamellenknochen</strong> erkennbare Schichten gebildet sind.</p> 
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/Knochengewebe_andhand_des_Roehrenknochens.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/Knochengewebe_andhand_des_Roehrenknochens@2x.png' %} 2560w" alt="Knochengewebe anhand des Röhrenknochens" class="scale" width="1280" />
							
							<p>Durch die gute Durchblutung (im Gegensatz zum Knorpel) besitzt das Knochengewebe auch gute Regenerierbarkeit (im Gegensatz zum Knorpel!) Das stammt daher, dass die Osteozyten, in ihrer Leichbauweise zu Osteonen, aus dem <strong>Periost</strong> hervorgehen.</p>
							
							<p>Man unterscheidet einen äußeren dichten Knochen, <i>Substantia Compacta</i> oder kurz <strong>Kompakta</strong>, von einem inneren Bälkchenknochen (<i>Substantia Spongiosa</i>, oder kurz <strong>Spongiosa</strong>).</p>
							
							
						
						</div>
						
						</div>
						
					<!-- Note -->	
					
					<hr/>
									
					
					<h3 id="content" class="icon-turnier">Turnier-Training</h3>
						
					
					<h6><strong>Derzeit keine Altragen in diesem Themengebiet bekannt.*</strong></h6>
					
					<p><i><strong>*</strong>Die medizinischen Universitäten unterbieten die vollständige Festhaltung der Testfragen: Worauf man sich aber beziehen kann, sind sog. Gedankenprotokolle, also spätere, unverbindliche Reflexionen der Probanten. Bei der Sammlung dieser ist uns also bis jetzt keine Reflexion innerhalb dieses Themengebiets bekannt.</i></p>
					
					
					
					<ul class="actions align-center">
						<p class="space-top">Kapitel-spezifische MedAT-style Überprüfung des <strong>ganzen*</strong> Kapitels, mit <strong>Neufragen:</strong></p>
						
						<li><a href="/turnier/gewebe" class="button special big">Zum Mini-Turnier</a></li>
						
						<p class="space-top"><i><strong>*</strong>zumeist ratsam, vorher alle Unterkaptiel durchzuarbeiten</i></p>
					</ul>
					
					<p>Sobald du dann alle Kaptitel, also den <a href="/skript/gewebe" alt="Gewebe Skript">BMS-Bio Teil</a>, abgeschlossen hast, und dich auch genügend in der <a href="/schmiede/wf" alt="Die KF-Schmiede">KF-Schmiede</a> gestählt hast, ist die Endstation im <strong>medCastle</strong> das sog. <a href="http://shop.medcastle.at" alt="zum Maxi-Turnier"><strong>Maxi-Turnier</strong>, einer 110%-MedAT Simulation,</a> die du auf postalischem Weg erhältst, daheim ausführst, und abschließend zurückschickst, zur professionnellen Auswertung mit Feedback.</p> 
					
					<img />
					
					<p><strong>Das ist dein Chance auf eine umfassende Überprüfung deiner Vorbereitung im Mai oder Juni,</strong> mit der Gelegenheit  noch Fragen zu stellen, um dann bei deinen <strong>Stärken</strong> sicher zu sein, und auch um nochmals auf eventuell vorhandenen <strong>Schwächen</strong> einzugehen.</p>
				</div>	
					
			</section>

		{% endblock %}