{% extends "base_content.html" %}

{% load static %}

{% block title %}Epithelgewebe{% endblock %} 

{% block content %}

		<!-- Three -->
			<section id="three" class="wrapper">
				
				<div class="inner">
					
					<header class="align-center">
						
						<h2>Epithelgewebe</h2>
						
						<p>Wer hätte es gedacht: Der Begriff kommt <strong>vom Griechischen für "Brustwarze."</strong></p>
						
						<p><i>(griechisch ἐπί epí "auf," "über" und thēlē "Mutterbrust," oder "Brustwarze)</i></p>
						
						<ul class="actions">
							<li><a href="/skript/gewebe" class="button">Einleitung</a></li>
							<li><a href="/turnier/gewebe" class="button special">Zum Mini-Turnier</a></li>
							<li><a href="/skript/gewebe/bindegewebe" class="button ">Nächstes Unterkapitel</a></li>
						</ul>
						
					</header>
					
					

					<!-- Content -->	
						
						<div class="row">
							
							<div class="12u 12u$(medium)">
								<p>Hier ein paar Grundbausteine zu unseren Ausführungen.</p>
								
								<p>Im Epithelgewebe ist das sog. <strong>Interstitium</strong>, der Extrazellulärraum, wenig ausgeprägt, d.h. Zellen und Zellgruppen kommen dicht gereiht vor. Sie unterscheiden sich in ihrer Aufschichtung, also der y- zur x-Dimension, und in der Form der individuellen Zellen.</p>
								
								
								<p>Die Zellen sind auf einer <strong>Basalmembran</strong> verankert, von wo aus sie auch gebildet werden, durch Zellteilung. Es befinden sich im Epithel <strong>keine Blut- und Lymphgefäße</strong>, d.h. der Stoffaustausch findet direkt zwischen den Zellen statt.
								</p>
								
								<p>Aufgrund dieser aller Eigenschaften eignet sich das Epithelgewebe hervorragend als <strong>a) Oberflächenepithel</strong> <i>(Deckgewebe)</i> und <strong>b) Drüsenepithel</strong> <i>(Drüsengewebe)</i>.</p>
								
							</div>
							
							
							
						
						<div class="12u 12u$(medium)">
							
							<h4>a) Oberflächenepithel</h4>
							
							<p>Dieses Gewebe findet sich an der gesamten Körperoberfläche in verhornter Form. Innerhalb des Körpers wirkt es ebenso grenzbildend: in <strong>einschichtiger</strong> Ausführung findet es sich an Orten des Stoffwechsels, in Kombination mit <strong>Kinozilien</strong> <i>(Flimmerhaaren)</i> in den schleimfördernden Atemwegen, und in <strong>mehrschichtiger</strong> Form als Übergang- und Plattenepithel in Körperhöhlen. </p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/epithelarten.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/epithelarten.png' %} 2560w, " alt="Oberflächenepithelgewebe" class="1x scale" width="1280w"/>
							
							<p>Hier sieht man noch einmal gut, dass mehrschichtige Epithelien vor allem eine Barrierefunktion haben (nach Lage in Körper – etwa Übergangsepithel in der Harnblase), während die Einschichtigen v.a. am Stoffwechsel beteiligt sind, z.B. in den Alveolen. </p>
							
							
						</div>
						
						
						<div class="12u 12u$(medium)">
						
							<h4>b) Drüsenepithel</h4>
							
							<p>Dieses betreibt die <strong>Sekretion:</strong> Man unterscheidet je nach Zielort <strong>endokrine und exokrine</strong> Drüsen. Exokrine Drüsen umfassen u.a. Trännendrüsen an der Körperoberfläche, aber auch etwa die Becherzellen des Darms, d.h. sie geben sowohl and die <strong>äußere und die innere</strong> Körperoberfläche ab. Endokrine Drüsen geben direkt an das Blut ab.</p>
							
							<p>Man unterscheidet nach Zellanordnung <strong>tubulöse</strong>, d.h. <i>schlauchförmige</i>, <strong>azinöse</strong>, oder <i>beerenförmige</i>, und <strong>alveoläre</strong>, oder auch <i>blaschenförmige</i> Drüsen.</p>
							
							<p>Nach Sekret unterscheidet man <strong>seröse</strong>, das sind wässrig-absondernde, und <strong>muköse</strong>, das sind schleimig-absondernde Drüsen.</p>
							
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/druesen.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/druesen.png' %} 2560w, " alt="Drüsengewebe" class="1x scale" width="1280w"/>
							
							<p>Eine wichtige Unterscheidung noch:</p>
							
							<ul>
								<li><i><strong>Resorption:</strong></i> Transport von Stoffen Richtung Basalmembran, "nach innen"</li>
								<li><i><strong>Sekretion:</strong></i> ausgehend eben von den <strong>Drüsenzellen</strong>, die eine große Vielfalt besitzen (s.o.)</li>
							</ul>
							
							
							<h5 class="labelo white">Drüsenzellen: Vorkommen (beispielhaft)</h5>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Sekretabgabe</th>
											<th>Drüse</th>
											<th>Vorkommen</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Exokrin</td>
											<td>Tränendrüse</td>
											<td>Hautoberfläche</td>
										</tr>
										<tr>
											<td>Exokrin</td>
											<td>Speicheldrüse</td>
											<td>Mundhöhle</td>
										</tr>
										<tr>
											<td>Endokrin</td>
											<td>Schilddrüsengewebe</td>
											<td>Schilddrüse</td>
										</tr>
										<tr>
											<td>Endokrin</td>
											<td>Hypophysengewebe</td>
											<td>Hypophyse</td>
										</tr>
										<tr>
											<td>Endokrin</td>
											<td>Langer-Hans'sche Inseln</td>
											<td>Bauchspeicheldrüse</td>
										</tr>
									</tbody>

								</table>
							</div>
							
							<p>Man sieht: Während z.B. die Insulin-produzierenden Langer-Hans'sche Inseln in der Bauchspeicheldrüse eine Spezialisierung im Organ darstellen, macht Drüsengewebe auch oft das ganze Organ aus, wie im Falle der Hypophyse etwa.</p>
							
						</div>
						
						</div>
						
					<hr/>
					
					<h5 class="labelo_red white">Corona Wissen</h5>
					
					<p>Im Falle des neuartigen Corona Virus, des <strong>Covid-19</strong>, betrifft die in schwierigen Fällen entstehende Lungeninfektion wiederum das <strong>Oberflächenepithel</strong> in den Lungenbläschen, den Alveolen. <i>(Welches Eptithelgewebe war das nochmal?)</i></p>
					
					<img srcset="{% static 'img/bms-bu/gewebe/1x/corona_wirkungsweise.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/corona_wirkungsweise.png' %} 2560w, " alt="Wirkungsweise des Corona-Virus" class="scale" width="1280w"/>
					
					<p>Schreitet die Infektion voran, wird die Zellschicht immer Sauerstoff-undürchlässiger: um den Gasaustausch mit dem Blut zu ermöglichen bedarf es hier letztlich der intensivmedizinischen Betreuung, und vor allem der <strong>künstlichen Beatmung.</strong></p>
						
					<!-- Note -->	
					
					<hr/>
									
					
					<h3 id="content" class="icon-turnier">Turnier-Training</h3>
						
					
					<h6><strong>Altfragen-Hinweis</strong></h6>
					
					<div class="box">
						<p>Wie also erörtert: Diese Frage ist nun durchaus beantwortbar, wenn sie den wieder kommt! (Sie kam zum MedAT 2017.)</p>
						
						<p class="ask"><strong><i class="fa fa-question"></i> Wo findet man denn einschichtiges Plattenepithel?</strong> </p>
						
						
						<p class="hide"><strong><i class="fa fa-hand-pointer-o"></i></strong> <span class="hidden">In den Lungenbläschen, den <i>Alveolen</i> – aber auch im Brust- und Bauchfell.</span></p>
					</div>

					
					<ul class="actions align-center">
						<p class="space-top">Kapitel-spezifische MedAT-style Überprüfung des <strong>ganzen*</strong> Kapitels, mit <strong>Neufragen:</strong></p>
						
						<li><a href="/turnier/gewebe" class="button special big">Zum Mini-Turnier</a></li>
						
						<p class="space-top"><i><strong>*</strong>zumeist ratsam, vorher alle Unterkaptiel durchzuarbeiten</i></p>
					</ul>
					
					<p>Sobald du dann alle Kaptitel, also den <a href="/skript/gewebe" alt="Gewebe Skript">BMS-Bio Teil</a>, abgeschlossen hast, und dich auch genügend in der <a href="/schmiede/wf" alt="Die KF-Schmiede">KF-Schmiede</a> gestählt hast, ist die Endstation im <strong>medCastle</strong> das sog. <a href="http://shop.medcastle.at" alt="zum Maxi-Turnier"><strong>Maxi-Turnier</strong>, einer 110%-MedAT Simulation,</a> die du auf postalischem Weg erhältst, daheim ausführst, und abschließend zurückschickst, zur professionnellen Auswertung mit Feedback.</p> 
					
					<img />
					
					<p><strong>Das ist dein Chance auf eine umfassende Überprüfung deiner Vorbereitung im Mai oder Juni,</strong> mit der Gelegenheit  noch Fragen zu stellen, um dann bei deinen <strong>Stärken</strong> sicher zu sein, und auch um nochmals auf eventuell vorhandenen <strong>Schwächen</strong> einzugehen.</p>
					
				</div>	
					
			</section>
			
{% endblock %}