{% extends "base_content.html" %}

{% load static %}

{% block title %}Muskelgewebe{% endblock %} 

{% block content %}

		<!-- Three -->
			<section id="three" class="wrapper">
				
				<div class="inner">
					
					<header class="align-center">
						
						<h2>Muskelgewebe</h2>
						
						<p>von griech.<i>mys</i> für "Muskel"</p>
						
						<p>Entsprechend der Tätigkeit dieses Gewebes, sind hier ganz besonders viele <i>Mitochondrien</i> anzufinden: Es ist aber die <strong>Struktur</strong> rundherum, die ganz besonders ausschlaggebend ist.</p>
						
						<ul class="actions">
							<li><a href="/skript/gewebe/bindegewebe" class="button ">Vorheriges Unterkapitel</a></li>
							<li><a href="/turnier/gewebe" class="button special">Zum Mini-Turnier</a></li>
							<li><a href="/skript/gewebe/nervengewebe" class="button ">Nächstes Unterkapitel</a></li>
						</ul>
						
					</header>
					
					

					<!-- Content -->	
						
						<div class="row">
							
							<div class="12u 12u$(medium)">
							
							<p><strong><i class="fa fa-exclamation-circle"></i> MedAT-Altragen-Alert!</strong></p>
							
							
							<div class="box">
								<p>Es wurde schon einmal nach der <strong>Farbe</strong> im Muskel gefragt:</p>
								
								<p class="ask"><strong><i class="fa fa-question"></i>Wie heißt der Farbstoff, der dem Muskelgewebe die rote Farbe verleiht?</strong></p>
								
								
							</div>
							
							
							
							
								<p>Hast du die Antwort?</p> 
								
								<p>Arbeiten wir zuerst mit unserem Skript. Nach strukturellem Aufbau unterscheidet man also ...
							</p>
							
							<ul class="">
								
								<li>... a) <strong>Quergestreiftes Muskelgewebe</strong>,</li>
									<ul>
										<li>welches sich wiederum nach Lage im Körper in <strong>Skelettmuskulatur</strong></li>
										<li>und <strong>Herzmuskulatur</strong> untergliedert,</li>
									</ul>
								<li>... und b) <strong>Glatte Muskulatur.</strong></li>
								
							</ul>
								
							</div>
							
							
							
						
						<div class="12u 12u$(medium)">
							
							<h4>a) <strong>Quergestreifte Muskulatur</strong></h4>
							
							<p>Muskelzellen, bzw. <i>Muskelfasern,<strong>*</strong></i> haben die Fähigkeit, sich zu verkürzen. Darauf beruht das Prinzip ihrer Funktion.
							
							</p>
							
							<h5>Sternchen</h5>
							
							<div class="box">
														
								<p class="ask"><i class="fa fa-star"></i>Ihrem allgemeinen Aufbau nach gleichen Muskelzellen den anderen Zellen des Körpers. Jedoch ist die Muskelzelle fasrig, d.h. sie bildet Fasern, die bis zu 20 cm lang werden können. Daher nennt man die Muskelzellen auch Muskelfasern. Diese sind übrigens vielkernig, da sie aus Zellverschmelzung hervorgehen, der Fachbegriff lautet <i>Syzntium</i>.</p>
																
	
							</div> 
							
							<h5 class="labelo_blu white">zum Bau der Muskelzellen</h5>
							
							<p>Das Zellplasma der Muskelzellen heißt <strong>Sarkoplasma:</strong> In ihm gelöst – der rote Muskelfarbstoff <strong>Myoglobin,</strong> der wie das Hämoglobin im Blut den Sauerstoff transportiert (Stichwort Zellatmung im Engergiestoffwechsel, zur ATP-Gewinnung: ein wichtiger Aspekt in einer Muskelzelle). Ebenfalls anzufinden: viele Mitochondrien, wo eben diese Zellatmung stattfindet, und auch parallel gelagerte Proteinfäden, die <strong>Myofibrillen</strong>. Zu diesen in kürze mehr, aber vorerst – das sind jene Bestandteile der Muskelfasern die im Lichtmikroskop in regelmäßigen Abständen sichtbar werden und dieser Art der Muskulatur den Namen <i>"quergestreift"</i> verleihen.</p>
							
						
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/muskelzelle_feinbau.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/muskelzelle_feinbau.png' %} 2560w" alt="Muskelzelle Feinbau" class="scale" width="1280"  />
							
							<p>In der glatten Muskulatur (s.u.), sind diese weniger streng angeordnet, und eignen sich daher gut für die Kontraktionswellen der sog. <strong>Peristaltik</strong>.</p>
							
							<p>In der Zellmembran angesiedelt ist das sog. <strong>T- und L-system.</strong> <i>T-</i>System deswegen, weil sich in regelmäßigen Abständen die Zellmembran tief einstülpt, zu den <i>teransversalen Tubuli</i>: das sind mehr als genug <i>"T"s</i>, aber außerdem schaut das ganze auch T-förmig aus. Das L-system ist ein Röhrensystem des <strong>sarkoplasmatischen Retikulums</strong>, das ein Reservoir für Kalziumionen bildet. Beide System sind also an der Ausbreitung des Nervenimpulses, des <strong>Aktionspotentials,</strong> beteiligt.</p>
							
							<h5 class="labelo_blu white">zum Feinbau der Myofibrillen</h5>

							
							<p>Die Myofibrillen bestehen aus <strong>Actin- und Myosinfilamenten</strong> als Untereinheiten und liefern die strukturelle und molekulare Grundlage der Skelettmuskelkontraktion. Myosin ist der Motor, während Actin, aus globulären Proteinen, ein Gerüst darstellt. Muskelkontraktion verbraucht ATP und ist außerdem auf die Anwesenheit von Kalziumionen angewiesen. </p>
							
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/myofibrille_feinbau.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/myofibrille_feinbau.png' %} 2560w" alt="Feinbau Myofibrillen" width="1280" class="scale" />
							
							<p>Dazu gibt es noch das <strong>Titinfilament</strong>, das fast wie eine elastische Feder im Feinbau fungiert. Titin ist übrigens das größte uns bekannte Molekül überhaupt und erhält seinen Namen von den Titanen, den griechischen Urgötter-Riesen. Hier eine schematische Anordnung dieser Teile:</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/myosin_anordnung.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/myosin_anordnung.png' %} 2560w" alt="Myosin Anordnung im Schema" width="1280" class="scale" />
							
							<p>Die <strong>Z-Scheiben</strong> verweben das Aktin untereinander.</p>
							
							<h5 class="labelo white">Skelettmuskulatur und Bewegung</h5>
							
							<p>Nun zum Ablauf einer Muskelkontraktion auf mikroskopischer Ebene: Mit einem Anteil am Gesamtkörpergewicht von bis zu 50% ist die Skelettmuskulatur das größte Organ, im Volumen. (An Oberfläche im üblichen Sinn nur noch von der Haut übertroffen.)</p>
							
							<p>Das Bindegewebe des Muskels besteht  aus:</p>
							
							<ul>
								<li><i>Muskelfaszie,</i></li>
								<li>dem <i>Epimysium,</i></li>
								<li>dem <i>Perimysium,</i> und</li>
								<li>dem <i>Endomysium.</i></li>
							</ul>
							
							<p>In der Ordnung derb (Faszie) nach zart (Endomysium) umhüllt es die Muskelfasern. Zum oben beschriebenen T- und L-System, kommen im Aufbau zuletzt noch die <strong>Muskelspindeln</strong> dazu, das sind 40 biz 500 Rezeptororgane, die die Dehnungsbewegung des Muskels erfassen. Über bestimmte Nervenfasern werden die Informationen über Längenveränderungen in den Fasern zum Rückenmark übermittelt.</p>
							
							<p><strong><i class="fa fa-exclamation-circle"></i> MedAT-Altragen-Alert!</strong></p>
							
							
							<div class="box">
								<p>Es wurde schon einmal gefragt:</p>
								
								<p class="ask"><strong><i class="fa fa-question"></i>Welche Rolle spielen die T-Tubuli in den Muskelfasern?</strong></p>
								
								
							</div>
							
							
							<p><strong>Die Antwort lautet: Die der Informationsübertragung,</strong> denn besagte Erregungsimpulse, aber vor allem die, die die Bewegung in Gang setzen, müssen zu den "Motoren" der Museklfasern ja erst geleitet werden.</p>
							
							<p><strong>Keine Altrage,</strong> aber schon erwähnt, und vielleicht doch einmal eine Neufrage:</p>
							
							<div class="box">
								<p>Schau nur nach oben zurück, wenn du unbedingt musst!</p>
								
								<p class="ask"><strong><i class="fa fa-question"></i>Was sind die Motoren der Muskelfasern?</strong></p>
								
								<p class="hide"><strong><i class="fa fa-hand-pointer-o"></i></strong> <span class="hidden">Es ist das <i>Myosin,</i> in Verbindung mit dem Gerüst-ähnlichen <i>Actin,</i> an dem es Haftet.</span></p>
							</div>
							
							
							<p>Dieser Haftungsvorgang ist der <strong>Muskelbewegung</strong> grundsätzlich.</p>
							
							<h5 class="labelo_blu white">zum Bewegungsablauf</h5>
							
							<p>Myosin als kantraktiles Bauelement der Myofibrillen "gleitet" bei der Bewegung am Actin entlang. Sie sind daher parallel zu einander in der Längsachse zur Muskelzelle angeordnet, und durch dünne, querverlaufende Z-Scheiben zu <strong>Einheiten</strong> getrennt: Diese nennt man <strong><i>Sarkomere</i></strong>.</p>
							
							<p>Das Myosin ragt dabei in das Aktin hinein, von einer <strong>M</strong>ittel-Linie. Am <strong>Köpfchen</strong> vermag das Myosin sich an das Aktin zu binden. Die Bewegung der Muskel<strong>kontraktion</strong> rührt vom Umschlagen des Köpfchens her, das in jedem Sarkomer parallel stattfindet. Über eine Faser betrachtet kommt es zu einer ordentlichen Verkürzung, obwohl die Köpfchen im Mykrometer-Bereich groß sind. Trotzdem muss dieser Vorgang innerhalb einer Muskelkontraktion mehrmals stattfinden um eine Verkürzung zu erzielen, die auch stark genug ist.</p>
							
							<p>Hier der Ablauf nun im Diagram. Dabei kommt wie gesagt den T-Tubuli eine besondere Bedeutung zu. Das Aktionspotenzial bewirkt nämlich die Kalzium-Ionen Ausschüttung, die das <strong>Aktin-blockierende, vom Hormon Troponin kontrollierte, Tropomyosin</strong> freilegen und so erst die Verbindung Myosin-Aktin ermöglichen. Dabei lagert sich das Kalzium am Troponin an.</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/bewegungsablauf_1.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/bewegungsablauf_1.png' %} 2560w" alt="Bewegungsablauf" width="1280" class="scale" />
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/bewegungsablauf_2.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/bewegungsablauf_2.png' %} 2560w" alt="Bewegungsablauf" width="1280" class="scale" />
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/bewegungsablauf_3.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/bewegungsablauf_3.png' %} 2560w" alt="Bewegungsablauf" width="1280w"  class="scale" />
							
							<p>Der "Ruderschlag" des Köpfchens verbraucht ATP zu ADP + P.</p>
							
							<p>Ebenso ATP-verbrauchend ist die neuerliche Freigabe des Myosinköpfchens vom Aktin, mit der zeitgleich erfolgenden Ausgangsstellung in die ursprüngliche Position. Troponin legt sich dann wieder an das Aktin an.</p>
							
							<p><strong>Einfach nur zur Info</strong></p>
							
							<div class="box">
								<p>Weder Altrage noch Neufrage, dafür aber interessant!</p>
								
								<p class="ask"><strong><i class="fa fa-question"></i>Worum handelt es sich bei der Leichenstarre?</strong></p>
								
								<p class="info"><strong><i class="fa fa-info"></i></strong> Nach unserem jetzigen Informationsstand leicht beantwortbar! Bei der schon nach ein paar Stunden auftretenden Leichenstarre, ab der dann übrigens auch keine Reanimationspflicht für Rettungssanitäter besteht, ist dem Organismus das ATP ausgegangen. Das Freistellen der Myosinköpfchen erfolgt dann nicht mehr, sie <strong>verharren</strong> regelrecht am Aktin.</p>
							</div>
							
							<h5 class="labelo white">Herzmuskulatur</h5>
							
							<p>Die Muskelzellen sind mit ihren Nachbarn elektrisch (über <i>gap junctions</i>) verbunden. Entsteht im Herzen eine Erregung (normalerweise im <strong>Sinusknoten</strong>), pflanzt sich diese über das Organ fort: das entstehende elektrische Feld ist sogar an der Körperoberfläche messbar, was im <strong>EKG</strong> ausgenutzt wird.</p>
							
							<p>Außerdem ist die Erregungsleitung and die mechanische Wirkung des der Muskelzelle (s.o.) <strong><i>elektro-mechanisch verkoppelt</i></strong>. Die Kopplung funktioniert vor allem über die Kalzium-Ionen.</p>
							
							<p>Der Sinus- und andere Nervenknoten und -bündel steuern die Reizbildung und Weiterleitung, die letztlich die geordnete Muskelkontraktion des Herzens verursachen. So fließt das Blut in die richtige Richtung: es ist die <strong>fächerförmige</strong> Reizweiterleitung v.a. die das bewirkt. Zusätzlich beeinflussen autonome Nervenfasern des <strong>vegetativen Nervensystems</strong> die Herztätigkeit.</p>
							
							<p>Dazu alles aber bei den Organen mehr. Hier hingegen die Unterschiede zur Skelettmuskulatur:</p>
							
							<ul>
								
								<li>Zellkerne sitzen in Zellmitte, und nicht am Rand</li>
								
								<li>Obwohl auch quergestreift, liegen die Muskelzellen nicht so parallel und geordnet aneinander.</li>
								
							</ul>
							
							<p>Es handelt sich daher um <strong>strukturelle Unterschiede</strong> zur Skelettmuskulatur.</p>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/muskelgewebe_uebersicht.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/muskelgewebe_uebersicht.png' %} 2560w" alt="Muskelgewebearten" width="1280" class="scale"  />
							
							<p>Die Myosin-Kontraktions-Funktion ist gleich der Funktionsweise der Skelettmuskulatur.</p>
							
						</div>
						
						
						<div class="12u 12u$(medium)">
						
							<h4>b) <strong>Glatte Muskulatur</strong></h4>
							
							<img srcset="{% static 'img/bms-bu/gewebe/1x/glatte_muskulatur.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/glatte_muskulatur.png' %} 2560w" alt="Glatte Muskulatur" width="1280" class="scale" />
							
							<p class="space-top">U.a. erlaubt die spindelförmige Anordnung der Strukturen die <strong>Peristaltik</strong>, eine geordnete langsame Muskelkontraktion in schlauchförmigen Muskeln wie sie etwa in der Speiseröhre oder dem Darm vorhanden sind, zur Weiterbeförderung des Speisebreis hier, wie auch anderer Stoffe oder  derber Materialien in anderen Organen.</p>
						
						</div>
						
						</div>
						

					
					<hr/>
									
					
					<h3 id="content" class="icon-turnier">Turnier-Training</h3>
					
					<!-- Altfragen-Teil -->		
					
					<h5><strong>Altfragen-Hinweis</strong></h5>
					
					<div class="box">
						
						<p>Also, wie gehabt:</p>
						
						<p class="ask"><strong><i class="fa fa-question"></i>Wie heißt der Farbstoff, der dem Muskelgewebe die rote Farbe verleiht?</strong></p>
														
						<p class="hide"><strong><i class="fa fa-hand-pointer-o"></i></strong> <span class="hidden">Es ist der Muskelfabrstoff <i>Myoglobin,</i> der den Muskeln die rote Farbe verleiht. Nicht zu verwechseln mit <i>Hämoglobin,</i> dem Blutfarbstoff – merk dir die Herleitung von der Altsprache! Muskel kommt vom Griechischen, nämlich von griech. <i>mys</i> für "Muskel."</span></p>
	
					</div> 
					
						<!-- Turnier Info + Links -->		
					
						
						
						<ul class="actions align-center">
						<p class="space-top">Kapitel-spezifische MedAT-style Überprüfung des <strong>ganzen*</strong> Kapitels, mit <strong>Neufragen:</strong></p>
						
						<li><a href="/turnier/gewebe" class="button special big">Zum Mini-Turnier</a></li>
						
						<p class="space-top"><i><strong>*</strong>zumeist ratsam, vorher alle Unterkaptiel durchzuarbeiten</i></p>
					</ul>
					
					<p>Sobald du dann alle Kaptitel, also den <a href="/skript/gewebe" alt="Gewebe Skript">BMS-Bio Teil</a>, abgeschlossen hast, und dich auch genügend in der <a href="/schmiede/wf" alt="Die KF-Schmiede">KF-Schmiede</a> gestählt hast, ist die Endstation im <strong>medCastle</strong> das sog. <a href="http://shop.medcastle.at" alt="zum Maxi-Turnier"><strong>Maxi-Turnier</strong>, einer 110%-MedAT Simulation,</a> die du auf postalischem Weg erhältst, daheim ausführst, und abschließend zurückschickst, zur professionnellen Auswertung mit Feedback.</p> 
					
					<img />
					
					<p><strong>Das ist dein Chance auf eine umfassende Überprüfung deiner Vorbereitung im Mai oder Juni,</strong> mit der Gelegenheit  noch Fragen zu stellen, um dann bei deinen <strong>Stärken</strong> sicher zu sein, und auch um nochmals auf eventuell vorhandenen <strong>Schwächen</strong> einzugehen.</p>
					
				</div>	
					
			</section>

{% endblock %}