{% extends "base_content.html" %}

{% load static %}

{% block title %}Nervengewebe{% endblock %} 

{% block content %}

		<!-- Three -->
		<section id="three" class="wrapper">
			
			<div class="inner">
				
				<header class="align-center">
					
					<h2>Nervengewebe</h2>
					
					<p>letztes Unterkapitel im Gewebe, der <strong>Mikroskopischen Anatomie</strong>!</p>
										
					
					<ul class="actions">
						<li><a href="/skript/gewebe/muskelgewebe" class="button">Vorheriges Unterkapitel</a></li>
						<li><a href="/turnier/gewebe" class="button special">Zum Mini-Turnier</a></li>
						<li><a href="#" class="button dead">Nächstes Unterkapitel</a></li>
					</ul>
					
				</header>
				
				

				<!-- Content -->	
					
				<div class="row">
					
					<div class="12u 12u$(medium)">
					
				<p>Die elektrisch erregbare Nervenzelle ist Bauelement des <strong>Nervensystems</strong>, sowie Muskelzelle Bauelement der Muskulatur ist. Im Ganzen besteht das Nervensystem aus zwei Komponenten:</p>
				
				<strong><ul>
					<li>Nervenzellen, oder <i>Neuronen</i></li>
					<li>Stützzellen, oder <i>Gliazellen</i></li>
				</ul></strong>
				
				<p><strong>Hauptaufgabe der Neuronen ist die Aufnahme und Weiterleitung von Reizen</strong> (auch: <i>Impuls, Aktionspotential</i>). Sieht man sich aber die Nervenzelle unter dem Mikroskop an, so fällt auf, das während sie auf Informationsweiterleitung durch Länge vor allem optimiert ist, ihr grundlegende Komponenten zur Ernährung wie auch der Teilungsfähigkeit fehlen: daher werden die meisten nach der Geburt nicht mehr nachgebildet.</p>
				
				<img srcset="{% static 'img/bms-bu/gewebe/1x/Neuron.png' %} 1280w, {% static 'img/bms-bu/gewebe/2x/Neuron@2x.png' %} 2560w" alt="Neuron" width="1280" class="scale" />
				
				<p>Die Gliazellen gleichen einen Teil dieses Defizits aus, denn sie haben eine <strong>Ernährungs- und Stützfunktion.</strong> Zusätzlich <strong>isolieren sie die Neurone elektrisch und schützen sie auch vor Angriffe von Erregern</strong>.</p>
				
				<p><strong><i class="fa fa-exclamation-circle"></i> MedAT-Altragen-Alert!</strong></p>
		
				<div class="box">
					<p>Schon einmal gefragt:</p>
					
					<p class="ask"><strong><i class="fa fa-question"></i>Welche Funktionen erfüllt die Gliazelle in Bezug auf die Nervenzelle?</strong></p>
					
					<p class="hide"><strong><i class="fa fa-hand-pointer-o"></i></strong> <span class="hidden">Also, wie eben angeführt: Gliazellen haben <i>Ernährungs-, Isolierungs-, sowie Stütz- und Schutzfunktion, nämlich vor Erregern.</i></span></p>
					
				</div>
				
				
				
				<p>Grob besteht die Nervenzelle aus drei Teilen,</p>
				
				<strong><ul>
					<li>den Dendriten,</li>
					<li>Zellleib, oder <i>Soma</i> bzw. <i>Perikaryon</i></li>
					<li>und Axon, oder <i>Neurit.</i></li>
				</ul></strong>
				
				<p>Endoplasmatische Retikula des Somas, mit Ribosomen, werden <strong>Nissl-Schollen</strong> genannt, nur damit dieser Begriff auch einmal abgedeckt wird.<p>

					
					</div>
				
				</div>
					
				
			<hr/>
								
				
				<h3 id="content"><i class="fas fa-chess-knight"></i> Turnier-Training</h3>
				
				<!-- Altfragen-Teil -->		
				
					<h5><strong>Altfragen-Hinweis</strong></h5>
					
					<div class="box">
						
						<p>Also, wie gehabt:</p>
						
						<p class="ask"><strong><i class="fa fa-question"></i>Welche Funktionen erfüllt die Gliazelle in Bezug auf die Nervenzelle?</strong></p>
					
					<p class="hide"><strong><i class="fa fa-hand-pointer-o"></i></strong> <span class="hidden">Gliazellen haben <i>Ernährungs-, Isolierungs-, sowie Stütz- und Schutzfunktion, nämlich vor Erregern.</i></span></p>
	
					</div> 
				
				<!-- Turnier Info + Links -->		
				
					
					
					<ul class="actions align-center">
						<p class="space-top">Kapitel-spezifische MedAT-style Überprüfung des <strong>ganzen*</strong> Kapitels, mit <strong>Neufragen:</strong></p>
						
						<li><a href="/turnier/gewebe" class="button special big">Zum Mini-Turnier</a></li>
						
						<p class="space-top"><i><strong>*</strong>zumeist ratsam, vorher alle Unterkaptiel durchzuarbeiten</i></p>
					</ul>
					
					<p>Sobald du dann alle Kaptitel, also den <a href="/skript/gewebe" alt="Gewebe Skript">BMS-Bio Teil</a>, abgeschlossen hast, und dich auch genügend in der <a href="/schmiede/wf" alt="Die KF-Schmiede">KF-Schmiede</a> gestählt hast, ist die Endstation im <strong>medCastle</strong> das sog. <a href="http://shop.medcastle.at" alt="zum Maxi-Turnier"><strong>Maxi-Turnier</strong>, einer 110%-MedAT Simulation,</a> die du auf postalischem Weg erhältst, daheim ausführst, und abschließend zurückschickst, zur professionnellen Auswertung mit Feedback.</p> 
					
					<img />
					
					<p><strong>Das ist dein Chance auf eine umfassende Überprüfung deiner Vorbereitung im Mai oder Juni,</strong> mit der Gelegenheit  noch Fragen zu stellen, um dann bei deinen <strong>Stärken</strong> sicher zu sein, und auch um nochmals auf eventuell vorhandenen <strong>Schwächen</strong> einzugehen.</p>
				
			</div>	
				
		</section>


{% endblock %}