{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>medKnights @ medCastle.at - Open Source MedAT in der Community</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css" />
		<!--[if lte IE 8]><script src="{% static '' %}js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static '' %}css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="{% static '' %}css/ie9.css" /><![endif]-->
        <link rel="stylesheet" href="{% static '' %}css/jack.css" />
	</head>
	<body>

		{% block content %}
        
        {% endblock %}

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; medCastle media 2020
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static '' %}js/jquery.min.js"></script>
			<script src="{% static '' %}js/skel.min.js"></script>
			<script src="{% static '' %}js/util.js"></script>
			<!--[if lte IE 8]><script src="{% static '' %}js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static '' %}js/main.js"></script>

	</body>
</html>