{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Banner -->
			<section id="banner">

				<h1 class="banner_icon"><a href="/" alt="Home"><i class="fa fa-chess-knight magnify"></i></a></h1>

				<div class="inner split">
					<section>
						<h2>das <span class="black">medKnights-Konzept</span> auf <a href="https://medcastle.at" alt="medCastle" class="">medCastle <i class="fab fa-fort-awesome magnify"></i></a></h2>
					</section>
					<section>
						<p>Das medCastle lädt dich als <span class="white">erfolgreichen MedAT-Teilnehmer</span> ein, den nächsten Jahrgängen unter die Arme zu greifen.</p>
						<ul class="actions">
							<li><a href="/roundtable" class="button special">Komm in die Tafelrunde</a></li>
						</ul>
					</section>
				</div>
			</section>


			<section id="two" class="wrapper style2 alt">

				<div class="inner">
					<div class="spotlight" id="rights">
						<div class="content">
							<h3><i class="fa fa-question"></i> Frage Nr. 1: Bleiben deine Materialien Deine Eigenen, wenn Du sie veröffentlichst?</h3>
						
							<p><span class="black bold"><i class="fa fa-arrow-right"></i> <b>Ja und Nein.</b></span> Per deiner Einwilligung beim Dropbox-Link Eintrag <a href="/app" alt="App">in der App</a> stellst du Deine Materialien <b>für bildende Zwecke zur Verfügung, aber nicht zum Weiterverkauf, </b> weder durch MedCastle oder Medizinstudenten oder MedAT-Anwärter. Damit sicherst Du dich rechtlich ab. Praktisch kann es jedoch schwierig sein, die Verbreitung deiner Materialien im Internet zu stoppen, was Du sicherlich verstehst. Das ist das einzige an "Risiko," das du eingehst.</p>

							<p>So gut es geht wirkt MedCastle hier als Interessensvertretung für dich, und ist auch froh dich <a href="/roundtable" alt="Tafelrunde">in der Tafelrunde</a> enstprechend wertzuschätzen, wenn Du das willst. <b>Außerdem übernimmt MedCastle die redaktionelle Aufgabe der Prüfung und Onlinestellung deiner Inhalte.</b> So leistet jeder einen Teil.</p>

							<ul class="actions">
								<li><a href="https://medcastle.at" class="button alt">Alles MedCastle</a></li>
							</ul>
						</div>
						
					</div>

					<div class="spotlight" id="philo">
						<div class="content">
							<h3><i class="fa fa-question"></i> Frage Nr. 2: Was ist der Sinn und Zweck Davon?</h3>
						
							<p><span class="black bold"><i class="fa fa-arrow-right"></i> <b>Danke, dass Du die Frage stellst.</b></span> MedCastle arbeitet der agressiven Verwirtschaftlichung der Niche MedAT entgegen, da der Wucher hier ambitionierte, gutsinnige Medizinstudiumplatz-Anwerter trifft. Das gefällt uns gar nicht. </p>

							<p> Inhaltlich sind wir so pragmatisch, dass wir erkennen: für den BMS musst Du, basierend auf Stichwortliste und gängigem Schulplan in Österreich, so viel wie möglich aus Biologie, Mathematik, Physik und Chemie wissen. <b>Da gibt es keinen Quick Fix, kein einfaches Rezept zum Erfolg.</b> Es geht darum, sich den Stoff anzueignen. Zwar können etwas Wissen um Altfragen usw. helfen, aber die Basis ist der Stoff. Dafür brauchst Du so viele Materialien wie möglich. <b>Neben deinen Schulbüchern sind Mitschriften, nämlich nicht nur deine, sonder auch die deiner Kollegen, die evtl. andere Bereiche besser abdecken, absolut zielführend.</b></p> 
							
							<p>Das ist die Erfahrung vieler erfolgreicher MedATler. Also bauen wir gemeinsam einen Erfahrungsschatz auf.</p>
							
							<p class="black"><i class="fa fa-arrow-right"></i><b> Und wenn du als Anwerter deinen Platz erhältst kommst Du hierher zurück und direkt in die Tafelrunde! </b></p>

							<ul class="actions">
								<li><a href="/roundtable" class="button alt">Zur Tafelrunde</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</section>

{% endblock %}