{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>medKnights @ medCastle.at - Open Source MedAT in der Community</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!--[if lte IE 8]><script src="{% static '' %}js/ie/html5shiv.js"></script><![endif]-->
		<!--<link rel="stylesheet" href="{% static '' %}css/main.css" />-->

		<!--<link rel="stylesheet" href="{% static '' %}css/main_mC.css" />-->
        <!--[if lte IE 9]><link rel="stylesheet" href="{% static '' %}css/ie9.css" /><![endif]-->
		<!--<link rel="stylesheet" href="{% static '' %}css/jack.css" />-->

		<link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css" />
		<link rel="stylesheet" href="{% static '' %}css/brands.min.css" />
		<link rel="stylesheet" href="{% static '' %}css/all.min.css" />

		<link rel="stylesheet" href="{% static '' %}css/main3.css" />
		<noscript><link rel="stylesheet" href="{% static '' %}css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Whitepaper: med<b>knights</b> AI</h1>
						<p> Mit Künstlicher Intelligenz zum MedAT Success in {% now "Y" %}</p>
						<p style="font-size: .8em"><b><a href="/" alt="Zurück"><i class="fa fa-arrow-left"></i> Zurück zur App Homepage</a></b></p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image"><img src="{% static '' %}img/anvil_icon.png" alt=""  width="260" height="260"/></span>
								<h2><a href="/schmiede/wf" alt="Schmiede Classic">KF(F)-Schmiede Classic</a> <b>+ AI</b></h2>
								<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis fames ac ante ipsum primis in faucibus.</p>
								
								<h2>Das Socratenon-Konzept als Konzeptionelle Grundlage</h2>
								<p>Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit. Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. Adipiscing accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis in blandit. Nascetur ultricies blandit ac. Arcu aliquam. Accumsan mi eget adipiscing nulla. Non vestibulum ac interdum condimentum semper commodo massa arcu.</p>

								<h2 id="android"><b>Anroid Kommt Bald:</b> Erste Praktische Umsetzung als App für iOS </h2>
								<p>Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit. Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. Adipiscing accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis in blandit. Nascetur ultricies blandit ac. Arcu aliquam. Accumsan mi eget adipiscing nulla. Non vestibulum ac interdum condimentum semper commodo massa arcu.</p>

								<footer class="major">
									<ul class="actions special">
										<li><a href="/#cta" class="button">Bist Du Bereit für med<b>knights</b> AI?</a></li>
									</ul>
								</footer>
							</section>

						<p style="font-size: .8em; text-align: center; line-height: 40px; height: 40px;"><b><a href="/" alt="Zurück"><i class="fa fa-arrow-left"></i> Zurück zur App Homepage</a></b></p>

					</div>

				<!-- Footer -->
				<footer id="footer">
					<section>
						<!--<h2>From The Blogs</h2>
						<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Learn More</a></li>
						</ul>-->
					</section>
					<section>
						<h2>Wir Sind med<b>Knights <i class="fa fa-chess-knight"></i></b> @med<b>Castle <i class="fab fa-fort-awesome magnify"></i></b></h2>
						<dl class="alt">
							<dt>Adresse</dt>
							<dd>Ottensheimerstrasse 68 &bull; 4040 LINZ &bull; AUT</dd>
							<dt>Telefon</dt>
							<dd>(+43) 664 965 3008</dd>
							<dt>Email</dt>
							<dd><a href="mailto:office@medknights.ai">office@medknights.ai</a></dd>
						</dl>
						<ul class="icons">
							<li><a href="https://www.facebook.com/groups/252411336109045/" class="icon brands fa-facebook-f alt"><span class="label">Facebook-Gruppe</span></a></li>
							<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram <b>NEU</b></span></a></li>
							<li><a href="mailto:office@medknights.ai" class="icon fa-envelope alt"><span class="label">Email-Kontakt</span></a></li>
						</ul>
					</section>
					<p class="copyright">&copy; <a href="/">medKnights {% now "Y" %}</a></p>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static '' %}js/jquery.min.js"></script>
			<script src="{% static '' %}js/jquery.scrollex.min.js"></script>
			<script src="{% static '' %}js/jquery.scrolly.min.js"></script>
			<script src="{% static '' %}js/browser.min.js"></script>
			<script src="{% static '' %}js/breakpoints.min.js"></script>
			<script src="{% static '' %}js/util.js"></script>
			<script src="{% static '' %}js/main3.js"></script>

	</body>
</html>