{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>medKnights @ medCastle.at - Open Source MedAT in der Community</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!--[if lte IE 8]><script src="{% static '' %}js/ie/html5shiv.js"></script><![endif]-->
		<!--<link rel="stylesheet" href="{% static '' %}css/main.css" />-->

		<!--<link rel="stylesheet" href="{% static '' %}css/main_mC.css" />-->
        <!--[if lte IE 9]><link rel="stylesheet" href="{% static '' %}css/ie9.css" /><![endif]-->
		<!--<link rel="stylesheet" href="{% static '' %}css/jack.css" />-->

		<link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css" />
		<link rel="stylesheet" href="{% static '' %}css/brands.min.css" />
		<link rel="stylesheet" href="{% static '' %}css/all.min.css" />

		<link rel="stylesheet" href="{% static '' %}css/main3.css" />
		<noscript><link rel="stylesheet" href="{% static '' %}css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Whitepaper: med<b>knights</b> AI</h1>
						<p> Mit Künstlicher Intelligenz zum MedAT Success in {% now "Y" %}</p>
						<p style="font-size: .8em"><b><a href="/" alt="Zurück"><i class="fa fa-arrow-left"></i> Zurück zur App Homepage</a></b></p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<div class="spotlight">
									<span class="image" style="margin: auto;"><img src="{% static '' %}img/anvil_icon.png" alt="" /></span>
								</div>
								<h2><a href="/schmiede/wf" alt="Schmiede Classic">KF(F)-Schmiede Classic</a> <b>+ AI = Neue Möglichkeiten</b></h2>
								<p>Das prinzip automatisierte KFF spart jedem Zeit, Geld und Papier, dem Augabensteller sowie der MedAT-Bewerberin. Wir weiten das Prinzip aus indem wir da ansetzen, wo andere aufhören. Statt seichter "Game-ification" bieten wir den echten Mehrwert eines analytischen, KI-gesteuerten Feedbacks, dass dich über Erfolg, Fortschritt, sowie Verbesserungsmöglichkeiten informiert, während es die Aufgaben für dich aussucht, die dir am Meisten bringen.</p>
								
								<h2>Das Socratenon-Konzept als Konzeptionelle Grundlage</h2>
								<p>Konzeptionell wird die App damit ein <a href="https://www.researchgate.net/publication/221181479_Socratenon_-_A_Web-based_Training_System_with_an_Intellect" alt="Socratenon Research">Socratenon</a>, eine intelligenter Lehrmeister a la Sokrates. Wie den alten Griechen interessiert die App nur die Wahrheit: daher ist direktes Feedback zusammen mit realer Einschätzung deiner bereits erworbenen Fähigkeiten und Fertigkeiten wesentlich. Je nach deinem Fortschritt, kann diese KI-getroffene, <b>objektive</b> Einschätzung etwas ernüchternd sein!</p>

								<h2 id="android"><b>Anroid Kommt Bald:</b> Erste Praktische Umsetzung als App für iOS </h2>
								<p>Du wirst aber sehen, deine Verbesserung mit stetiger Übung schlägt sich in deinen Datenpunkten nieder. <b>Deine Daten gehören übrigen durchwegs dir!</b> Weil Grundsätze wie Datenschutz unserem Entwicklerteam wichtig sind, und das Team klein und ehrenamtlich arbeitet, wird die App zunächst für iOS umgesetzt (2021). <i>Bis spätestens 2022 ist die Android Version fertig.</i></p>

								<footer class="major">
									<ul class="actions special">
										<li><a href="/#cta" class="button">Bist Du Bereit für med<b>knights</b> AI?</a></li>
									</ul>
								</footer>
							</section>

						<p style="font-size: .8em; text-align: center; line-height: 40px; height: 40px;"><b><a href="/" alt="Zurück"><i class="fa fa-arrow-left"></i> Zurück zur App Homepage</a></b></p>

					</div>

				<!-- Footer -->
				<footer id="footer">
					<section>
						<!--<h2>From The Blogs</h2>
						<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Learn More</a></li>
						</ul>-->
					</section>
					<section>
						<h2>med<b>Knights <i class="fa fa-chess-knight"></i></b> @med<b>Castle <i class="fab fa-fort-awesome magnify"></i></b></h2>
						<dl class="alt">
							<dt>Adresse</dt>
							<dd>Ottensheimerstrasse 68 &bull; 4040 LINZ &bull; AUT</dd>
							<dt>Telefon</dt>
							<dd>(+43) 664 965 3008</dd>
							<dt>Email</dt>
							<dd><a href="mailto:office@medknights.ai">office@medknights.ai</a></dd>
						</dl>
						<ul class="icons">
							<li><a href="https://www.facebook.com/groups/252411336109045/" class="icon brands fa-facebook-f alt"><span class="label">Facebook-Gruppe</span></a></li>
							<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram <b>NEU</b></span></a></li>
							<li><a href="mailto:office@medknights.ai" class="icon fa-envelope alt"><span class="label">Email-Kontakt</span></a></li>
						</ul>
					</section>
					<p class="copyright">&copy; <a href="/">medKnights {% now "Y" %}</a></p>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static '' %}js/jquery.min.js"></script>
			<script src="{% static '' %}js/jquery.scrollex.min.js"></script>
			<script src="{% static '' %}js/jquery.scrolly.min.js"></script>
			<script src="{% static '' %}js/browser.min.js"></script>
			<script src="{% static '' %}js/breakpoints.min.js"></script>
			<script src="{% static '' %}js/util.js"></script>
			<script src="{% static '' %}js/main3.js"></script>

	</body>
</html>