{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Willkommen bei den <span class="black">medKnights,</span> nur bei <a href="https://medcastle.at" alt="medCastle" class="">medCastle</a></h2>
					</section>
					<section>
						<p>Das medCastle lädt dich als <span class="white">erfolgreichen MedAT-Teilnehmer</span> ein, den nächsten Jahrgängen unter die Arme zu greifen.</p>
						<ul class="actions">
							<li><a href="#" class="button special">Komm in die Tafelrunde</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">

				<ul class="actions special">
					<p class="">Du hast bereits einen medKnight Account?</p>
					<li><a href="/accounts/login/?next=/app" class="button alt">medKnight Login</a></li>
				</ul>


				<div class="inner split">
					<section>
						<h2>Das <strong class="black">"Pay It Forward"</strong> Prinzip</h2>
						<p class="italics">Erinnerst du dich an den Medizin-Studenten, der mit dir seine Materialien geteilt hat? Oder die Bio-Lehrerin, die extra Zeit in dich investiert hat? </p>
						<p>Weiten wir das <span class="strong">Prinzip des Open Sources</span> aus! Indem wir allen Teilnehmern den fairen Zugang zu MedAT Materialien und Hilfestellungen geben, haben alle die gleiche Chance ihr Bestes zu geben.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Mehr zur Philosophie</a></li>
						</ul>
					</section>
					<section>
						<ul class="checklist">
							<li>Materialien werden <span class="strong">kostenfrei MedAT-Teilnehmern zugänglich</span> gemacht</li>
							<li>Es werden aber <span class="strong">Urheberrechte und andere Interessen</span> durch bestimmte Mechanismen gewahrt. <a href="#" alt="Tafelrunde">Mehr dazu</a></li>
							<li>Deine <span class="strong">Großzügigkeit wird belohnt:</span> Verwewige dich in der <a href="#" alt="Tafelrunde">medKnights-Tafelrunde</a> und nutze diese Gelegenheit, deine Erfahrungen und Tipps weiterzugeben.</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">

				<div class="inner">
					<section>
						<h2>Schritt 1: medKnights Account Anlegen</h2>
						<p>Bitte lege zuerst einen Account zum Login an. </p>
						<form method="POST">
  
							{% csrf_token %}
							{{ form }}
						
						  <input type="submit" class="space" />
						
						</form>
					</section>
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">

				<div class="inner split">
					<section>
						<h2>Noch Fragen?</h2>
						<p>Wir bauen <strong>die Open Source MedAT Community</strong>.</p>
						
						<p>Unser Front Desk berät dich gerne zum medKnights-Konzept und unseren anderen Projekten.</p>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-facebook"><a href="https://facebook.com/medcastle.at">facebook.com/medcastle.at</a></li>
							<li class="fa-facebook"><a href="https://www.facebook.com/groups/252411336109045/">facebook <span class="strong">medKnights-Gruppe!</span></a></li>
							<li class="fa-instagram"><a href="#">instagram.com/medcastle.at</a></li>
							<li class="fa-envelope"><a href="mailto:desk@medcastle.at">desk@medcastle.at</a></li>
						</ul>
					</section>
				</div>
			</section>

{% endblock %}