{% extends 'base.html' %}

{% load static %}

{% block content %}

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>test</h2>
					</section>
					<section>
						<p>Das medCastle lädt dich als <span class="white">erfolgreichen MedAT-Teilnehmer</span> ein, den nächsten Jahrgängen unter die Arme zu greifen.</p>
						<ul class="actions">
							<li><a href="#" class="button special">Komm in die Tafelrunde</a></li>
						</ul>
					</section>
				</div>
			</section>

		

{% endblock %}